h1= title

- if(!session.oauth_access_token)
  p
    a(href='/oauth/login') Please Login!

#albums
  h2#tagline Heavy Rotation



  #controls
    #ctrl-play play
    #ctrl-pause pause
  - if (albums.length)
    - albums.forEach(function(album){
      .band-info
        p
          span#album-image
            <img src="#{album.icon}" alt="#{album.name}" />
          span#album-name
            <a target="_blank" href="#{album.shortUrl}">#{album.name}</a>
          br
          | By: #{album.artist}
          span#band-name
    -})

  #CTplayer

script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js')
script
  var playbackToken = '#{playbackToken}';
  var albums = !{JSON.stringify(albums)};
script(src='/javascripts/narwhal.js')
